nav {
  background-color: rgb(208, 0, 0);
}

.search-btn {
  background-color: rgb(73, 0, 255);
  color: white;
}

.content-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  margin-top: 5%;
}

.content-results {
  display: flex;
  flex-grow: 1;
  min-height: 320px;
  height: 100%;
  margin-top: 5%;
}
